configuration {
    modi: "drun,run,window,filebrowser";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "ghostty";
    drun-display-format: "{name}";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    display-filebrowser: "Files";
    font: "JetBrainsMono Nerd Font 12";
    sort: true;
    sorting-method: "fzf";
    click-to-exit: true;
}
